<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Banners</title>
</head>
<body>

		
<!-- BANNER APP -->

    <section class="hero is-medium has-bg2-img" th:fragment="app-banner"> 
      <div class="hero-body"> 
        <div class="container"> 
          <h1 class="title is-3" ><span sec:authentication="principal.user.firstName">FirstName</span> <span sec:authentication="principal.user.lastName">LastName</span></h1>
        </div>
      </div> 
    </section>
	
<!-- BANNER HOME -->
	  <section class="hero is-medium has-bg-img" th:fragment="home-banner"> 
	   	<div class="hero-body"> 
				<div class="container has-text-centered"> 
					<h1 class="title is-1" th:text="#{index.greeting}">Welcome on CLogbook</h1>
					<h2 class="subtitle">Simply log your flying hours</h2>
				</div>
			</div> 
		</section>
		
	</body>
		
</html>
		