<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
			xmlns:th="http://www.thymeleaf.org"
			th:replace="~{app/app-layout :: main-fragment(  
			                                                ~{::title},
			                                                ~{:: #static_resources},
			                                                ~{/fragments/banners :: home-banner},
			                                                ~{},
			                                                ~{:: #main_content},
			                                                ~{}
			                                                )}">

<head>
	<title>CLogbook - Login</title>
	
	<th:block id="static_resources">
		<script type="text/javascript" th:src="@{/js/login.js}"></script>
	</th:block>



</head>

<body>
	<div id="main_content">
	<!-- Login form-->
	<div class="level" id="login_level" >
		<div class="level-item">
			<div class="box">
				<div class="has-text-centered">
					<p class="title is-3">Log in</p>
				</div>
				
				<div th:if="${param.error}">
		        	<div class="message is-danger my-5">
		        		<div class="message-body">
		        			<div th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
    							<span th:text="${errorMsg}">Wrong input!</span>
							</div>
		        		</div>
		        		
		       		</div>
		        </div>
				<div th:if="${param.logout}">
		        	<!-- Si redirigé ici après logout -->
		        </div>
				<form th:action="@{/login-process}" method="POST" class="login_form">
					<div class="field">
						<label class="label">Username</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="email@example.com" name="userlogin" id="field_username"> 
							<span class="icon is-small is-left"> 
								<i class="fas fa-user"></i>
							</span>
						</div>
						<p class="help is-danger"></p>
					</div>

					<div class="field">
						<label class="label">Password</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="password" name="userpassword" placeholder="Your password" id="field_password"> 
							<span class="icon is-small is-left"> 
								<i class="fas fa-key"></i>
							</span>
						</div>
						<p class="help is-danger"></p>
					</div>
					<div class="level">
						<div class="level-left">
							<div class="field">
								<div class="control">
									<label class="checkbox"> 
									<input type="checkbox" name="rememberme"> Remember me ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</label>
								</div>
							</div>
						</div>
						<div class="level-right">
							<a href="#">Forgotten password ?</a>
						</div>
					</div>

					<div class="field is-grouped">
						<div class="control">
							<input type="submit" class="button is-link" value="Log in">
						</div>
						<div class="control">
							<a class="button" th:href="@{/?signup}">Sign up</a>
						</div>
						<div class="control">
							<a class="button" th:href="@{/}">Home</a>
						</div>
					</div>
				</form>

			</div>



		</div>
	</div>

	<!-- Login form -->

	</div>
</body>

</html>